@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo Base */
body {
  background-color: #02011E;
  color: #FFFFFF;
  overflow-x: hidden;
  transition: filter 0.5s ease; 
}

/* Esconde indicadores de desenvolvimento */
nextjs-portal, [data-nextjs-toast], [data-nextjs-dev-tools] {
  display: none !important;
}
